<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleVersion</key>
    <string>6.1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>6.1.0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.1.0</string>

    <key>CFBundleName</key>
    <string>EddyPro</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>CFBundleIconFile</key>
    <string>app.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>LICR</string>
    <key>CFBundleExecutable</key>
    <string>eddypro</string>
    <key>CFBundleIdentifier</key>
    <string>com.licor.eddypro</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (c) 2011-2015, LI-COR Biosciences Inc.</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.education</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.7</string>

    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeIconFile</key>
            <string>app.icns</string>
            <key>CFBundleTypeName</key>
            <string>EddyPro Project File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.licor.eddypro.eddypro</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
