/*<meta Version="7" />*/

/* MadCap Table Style: */

@media non-print
{
	mcTableStyle
	{
		border-left-style: solid;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-width: 0px;
		border-top-style: solid;
		border-top-width: 0px;
		border-top-color: #000000;
	}

	mcTableColumnStyle
	{
		size: 225px;
		cell-padding-right: 4px;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		cell-padding-left: 3px;
	}

	mcTableBodyStyle
	{
		cell-padding-left: 3px;
		cell-padding-top: 10px;
		cell-padding-bottom: 10px;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		cell-padding-left: 3px;
		cell-padding-top: 15px;
		cell-padding-bottom: 15px;
	}
}

@media print
{
	mcTableStyle
	{
		margin-left: 1in;
		margin-right: 0pt;
		border-left-style: solid;
		border-left-width: 0px;
		border-top-style: solid;
		border-top-width: 0px;
		border-top-color: #000000;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		border-bottom-color: #000000;
		border-right-style: solid;
		border-right-width: 0px;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		cell-padding-top: 0pt;
		vertical-align: middle;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Video;
	border-collapse: collapse;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	max-id: 10;
	cell-padding-left: 0pt;
	cell-padding-right: 0pt;
	cell-padding-top: 0pt;
	cell-padding-bottom: 0pt;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-color: #000000;
	border-bottom-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	type: Automatic;
}

mcTableColumnStyle
{
	span: 1;
	id: 10;
	name: Column2;
}

mcTableHeadStyle
{
	span: 1;
	id: 8;
	name: Header1;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
	vertical-align: top;
	text-align: left;
	cell-padding-top: 0pt;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Body2;
	type: Manual;
	cell-padding-left: 18pt;
}

mcTableFootStyle
{
	span: 1;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

@media non-print
{
	.TableStyle-Video
	{
		border-left-style: solid;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-width: 0px;
		border-top-style: solid;
		border-top-color: #000000;
		border-top-width: 0px;
		border-spacing: 0px 0px;
	}

	.TableStyle-Video .Column-Column1
	{
		width: 225px;
	}

	.TableStyle-Video .HeadI-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadE-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadF-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadH-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadD-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadC-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadB-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadA-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadG-Column1-Header1
	{
		padding-right: 4px;
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadI-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadE-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadF-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadH-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadD-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadC-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadB-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadA-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .HeadG-Column2-Header1
	{
		text-align: left;
		background-image: url('../Images/th-bkg.png');
		padding-left: 3px;
	}

	.TableStyle-Video .FootI-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootE-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootF-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootH-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootD-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootC-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootB-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootA-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootG-Column1-Footer1
	{
		padding-right: 4px;
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootI-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootE-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootF-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootH-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootD-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootC-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootB-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootA-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .FootG-Column2-Footer1
	{
		padding-left: 3px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.TableStyle-Video .BodyI-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyE-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyF-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyH-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyD-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyC-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyB-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyA-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyG-Column1-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4px;
	}

	.TableStyle-Video .BodyI-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyE-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyF-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyH-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyD-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyC-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyB-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyA-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyG-Column2-Body1
	{
		padding-left: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.TableStyle-Video .BodyI-Column1-Body2
	{
		padding-right: 4px;
	}

	.TableStyle-Video .BodyE-Column1-Body2
	{
		padding-right: 4px;
	}

	.TableStyle-Video .BodyF-Column1-Body2
	{
		padding-right: 4px;
	}

	.TableStyle-Video .BodyH-Column1-Body2
	{
		padding-right: 4px;
	}

	.TableStyle-Video .BodyD-Column1-Body2
	{
		padding-right: 4px;
	}

	.TableStyle-Video .BodyC-Column1-Body2
	{
		padding-right: 4px;
	}

	.TableStyle-Video .BodyB-Column1-Body2
	{
		padding-right: 4px;
	}

	.TableStyle-Video .BodyA-Column1-Body2
	{
		padding-right: 4px;
	}

	.TableStyle-Video .BodyG-Column1-Body2
	{
		padding-right: 4px;
	}
}

@media print
{
	.TableStyle-Video
	{
		border-left-style: solid;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-width: 0px;
		border-top-style: solid;
		border-top-color: #000000;
		border-top-width: 0px;
		border-bottom-style: solid;
		border-bottom-color: #000000;
		border-bottom-width: 0px;
		margin-left: 1in;
		margin-right: 0pt;
		border-spacing: 0px 0px;
	}

	.TableStyle-Video .BodyI-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyE-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyF-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyH-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyD-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyC-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyB-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyA-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyG-Column1-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyI-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyE-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyF-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyH-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyD-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyC-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyB-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyA-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}

	.TableStyle-Video .BodyG-Column2-Body1
	{
		vertical-align: middle;
		padding-top: 0pt;
	}
}

.TableStyle-Video
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Video .Column-Column1
{
	
}

.TableStyle-Video .Column-Column2
{
	
}

.TableStyle-Video .Head-Header1
{
	
}

.TableStyle-Video .HeadI-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadE-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadF-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadH-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadD-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadC-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadB-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadA-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadG-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Video .HeadI-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadI-Column2-Header1 p
{
	
}

.TableStyle-Video .HeadE-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadE-Column2-Header1 p
{
	
}

.TableStyle-Video .HeadF-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadF-Column2-Header1 p
{
	
}

.TableStyle-Video .HeadH-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadH-Column2-Header1 p
{
	
}

.TableStyle-Video .HeadD-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadD-Column2-Header1 p
{
	
}

.TableStyle-Video .HeadC-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadC-Column2-Header1 p
{
	
}

.TableStyle-Video .HeadB-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadB-Column2-Header1 p
{
	
}

.TableStyle-Video .HeadA-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadA-Column2-Header1 p
{
	
}

.TableStyle-Video .HeadG-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .HeadG-Column2-Header1 p
{
	
}

.TableStyle-Video .Foot-Footer1
{
	
}

.TableStyle-Video .FootI-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootE-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootF-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootH-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootD-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootC-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootB-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootA-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootG-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Video .FootI-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootI-Column2-Footer1 p
{
	
}

.TableStyle-Video .FootE-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootE-Column2-Footer1 p
{
	
}

.TableStyle-Video .FootF-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootF-Column2-Footer1 p
{
	
}

.TableStyle-Video .FootH-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootH-Column2-Footer1 p
{
	
}

.TableStyle-Video .FootD-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootD-Column2-Footer1 p
{
	
}

.TableStyle-Video .FootC-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootC-Column2-Footer1 p
{
	
}

.TableStyle-Video .FootB-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootB-Column2-Footer1 p
{
	
}

.TableStyle-Video .FootA-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootA-Column2-Footer1 p
{
	
}

.TableStyle-Video .FootG-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.TableStyle-Video .FootG-Column2-Footer1 p
{
	
}

.TableStyle-Video .Body-Body1
{
	
}

.TableStyle-Video .BodyI-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyE-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyF-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyH-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyD-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyC-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyB-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyA-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyG-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyG-Column1-Body1 p
{
	
}

.TableStyle-Video .BodyI-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyI-Column2-Body1 p
{
	
}

.TableStyle-Video .BodyE-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyE-Column2-Body1 p
{
	
}

.TableStyle-Video .BodyF-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyF-Column2-Body1 p
{
	
}

.TableStyle-Video .BodyH-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyH-Column2-Body1 p
{
	
}

.TableStyle-Video .BodyD-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyD-Column2-Body1 p
{
	
}

.TableStyle-Video .BodyC-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyC-Column2-Body1 p
{
	
}

.TableStyle-Video .BodyB-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyB-Column2-Body1 p
{
	
}

.TableStyle-Video .BodyA-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyA-Column2-Body1 p
{
	
}

.TableStyle-Video .BodyG-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	padding-top: 0pt;
}

.TableStyle-Video .BodyG-Column2-Body1 p
{
	
}

.TableStyle-Video .Body-Body2
{
	
}

.TableStyle-Video .BodyI-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyI-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyE-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyE-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyF-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyF-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyH-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyH-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyD-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyD-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyC-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyC-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyB-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyB-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyA-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyA-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyG-Column1-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyG-Column1-Body2 p
{
	
}

.TableStyle-Video .BodyI-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyI-Column2-Body2 p
{
	
}

.TableStyle-Video .BodyE-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyE-Column2-Body2 p
{
	
}

.TableStyle-Video .BodyF-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyF-Column2-Body2 p
{
	
}

.TableStyle-Video .BodyH-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyH-Column2-Body2 p
{
	
}

.TableStyle-Video .BodyD-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyD-Column2-Body2 p
{
	
}

.TableStyle-Video .BodyC-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyC-Column2-Body2 p
{
	
}

.TableStyle-Video .BodyB-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyB-Column2-Body2 p
{
	
}

.TableStyle-Video .BodyA-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyA-Column2-Body2 p
{
	
}

.TableStyle-Video .BodyG-Column2-Body2
{
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 18pt;
}

.TableStyle-Video .BodyG-Column2-Body2 p
{
	
}

mcTableStyle
{
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
}

mcTableColumnStyle
{
	size: 225px;
	cell-padding-right: 4px;
}

mcTableColumnStyle
{
	
}

mcTableHeadStyle
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	cell-padding-left: 3px;
}

mcTableBodyStyle
{
	cell-padding-left: 3px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
}

mcTableBodyStyle
{
	
}

mcTableFootStyle
{
	cell-padding-left: 3px;
	cell-padding-top: 15px;
	cell-padding-bottom: 15px;
}

.TableStyle-Video
{
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Video .Column-Column1
{
	width: 225px;
}

.TableStyle-Video .HeadI-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadE-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadF-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadH-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadD-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadC-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadB-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadA-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadG-Column1-Header1
{
	padding-right: 4px;
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadI-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadE-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadF-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadH-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadD-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadC-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadB-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadA-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .HeadG-Column2-Header1
{
	text-align: left;
	background-image: url('../Images/th-bkg.png');
	padding-left: 3px;
}

.TableStyle-Video .FootI-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootE-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootF-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootH-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootD-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootC-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootB-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootA-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootG-Column1-Footer1
{
	padding-right: 4px;
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootI-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootE-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootF-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootH-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootD-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootC-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootB-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootA-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .FootG-Column2-Footer1
{
	padding-left: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.TableStyle-Video .BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 4px;
}

.TableStyle-Video .BodyI-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyE-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyF-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyH-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyD-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyC-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyB-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyA-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyG-Column2-Body1
{
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Video .BodyI-Column1-Body2
{
	padding-right: 4px;
}

.TableStyle-Video .BodyE-Column1-Body2
{
	padding-right: 4px;
}

.TableStyle-Video .BodyF-Column1-Body2
{
	padding-right: 4px;
}

.TableStyle-Video .BodyH-Column1-Body2
{
	padding-right: 4px;
}

.TableStyle-Video .BodyD-Column1-Body2
{
	padding-right: 4px;
}

.TableStyle-Video .BodyC-Column1-Body2
{
	padding-right: 4px;
}

.TableStyle-Video .BodyB-Column1-Body2
{
	padding-right: 4px;
}

.TableStyle-Video .BodyA-Column1-Body2
{
	padding-right: 4px;
}

.TableStyle-Video .BodyG-Column1-Body2
{
	padding-right: 4px;
}

