# objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.lib
*.so
*.dll
*.dylib
*.framework

# make and qmake
CMakeLists.txt.user
Makefile*
*.qm

# qt moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.moc
/.qmake.cache
/.qmake.stash

# qtcreator 
*.user*

# precompiled headers
*.gch
*.pch

# mac 
.DS_Store

# win
Thumbs.db
desktop.ini

# valgrind suppression file
*.supp

# fonts
*.ttf

# misc files
*.log
.kdev*
diff*
sha1
TODO
current-version

# misc directories
clang-checks
quazip*
dist
karchive*
docs/help
libs/others
scripts/deploy
scripts/old
scripts/qtcreator
scripts/test
scripts/utils
smartflux_defaults

# dotfiles
.*

# backup files
*~
*.bak
*.BAK
*.autosave
*.old
*.orig
*.del
*.rej

# python files
*.pyc

# exception for .gitignore
!.gitignore
!.gitattributes

