/*<meta />*/

@font-face 
{
	font-family: 'open_sansregular';
	src: url('../Fonts/OpenSans-Regular-webfont.eot');
	src: url('../Fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../Fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../Fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
} 

@font-face 
{
	font-family: 'open_sansbold';
	src: url('OpenSans-Bold-webfont.eot');
	src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('OpenSans-Bold-webfont.woff') format('woff'), url('OpenSans-Bold-webfont.ttf') format('truetype'), url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
} 

@media screen and (max-width: 480px)
{
	.welcome
	{
		padding: 0px;
		margin: 0px;
		margin-bottom: 10px;
	}

	.welcome:before,
	.welcome:after
	{
		content: "";
		display: table;
	}

	div.welcome_head
	{
		background-color: #9ad3f0;
		font-family: 'open_sansregular';
		font-size: 1.1em;
		text-shadow: 0px 1px 1px #FFF;
		font-style: italic;
		font-weight: bold;
		color: #444444;
		padding: 6px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	div.welcome_1
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 100%;
		margin-top: 3px;
		margin-bottom: 3px;
		display: block;
		float: left;
	}

	div.welcome_2
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 100%;
		margin-top: 3px;
		margin-bottom: 3px;
		display: block;
		float: left;
	}

	div.welcome_3
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 100%;
		margin-top: 3px;
		margin-bottom: 3px;
		display: block;
		float: left;
	}

	img.no_thumb
	{
		mc-thumbnail: none;
		vertical-align: text-top;
		max-width: 30px;
		height: auto;
	}

	div.resources
	{
		padding: 10px;
		max-width: 540px;
		background: url('../Images/grey-bkg.png') left top repeat-x #dcdcdc;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
		background: -webkit-linear-gradient(top, #fff, #dcdcdc);
		background: -moz-linear-gradient(top, #fff, #dcdcdc);
		background: -ms-linear-gradient(top, #fff, #dcdcdc);
		background: -o-linear-gradient(top, #fff, #dcdcdc);
		background: linear-gradient(top, #ffffff,#dcdcdc);
		margin-bottom: 10px;
		border-left-width: 1px;
		border-right-width: 1px;
		border-top-width: 1px;
		border: solid 1px #7a5f9b;
		border-bottom: solid 1px #7a5f9b;
		border-left: solid 1px #7a5f9b;
		border-right: solid 1px #7a5f9b;
		border-top: solid 1px #7a5f9b;
		margin-top: 10px;
		padding-top: 0px;
	}
}

@media screen and (min-width: 481px) and (max-width: 650px)
{
	div.welcome
	{
		padding: 0px;
		margin: 0px;
		margin-bottom: 10px;
	}

	.welcome:before,
	.welcome:after
	{
		content: "";
		display: table;
	}

	div.welcome_head
	{
		background-color: #9ad3f0;
		font-family: 'open_sansregular';
		font-size: 1.1em;
		text-shadow: 0px 1px 1px #FFF;
		font-style: italic;
		font-weight: bold;
		color: #444444;
		padding: 6px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	div.welcome_1
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 100%;
		margin-top: 3px;
		margin-bottom: 3px;
		display: block;
		float: left;
	}

	div.welcome_2
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 100%;
		margin-top: 3px;
		margin-bottom: 3px;
		display: block;
		float: left;
	}

	div.welcome_3
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 100%;
		margin-top: 3px;
		margin-bottom: 3px;
		display: block;
		float: left;
	}

	div.resources
	{
		padding: 10px;
		max-width: 540px;
		background: url('../Images/grey-bkg.png') left top repeat-x #dcdcdc;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
		background: -webkit-linear-gradient(top, #fff, #dcdcdc);
		background: -moz-linear-gradient(top, #fff, #dcdcdc);
		background: -ms-linear-gradient(top, #fff, #dcdcdc);
		background: -o-linear-gradient(top, #fff, #dcdcdc);
		background: linear-gradient(top, #ffffff,#dcdcdc);
		margin-bottom: 10px;
		border-left-width: 1px;
		border-right-width: 1px;
		border-top-width: 1px;
		border: solid 1px #7a5f9b;
		border-bottom: solid 1px #7a5f9b;
		border-left: solid 1px #7a5f9b;
		border-right: solid 1px #7a5f9b;
		border-top: solid 1px #7a5f9b;
		margin-top: 10px;
		padding-top: 0px;
	}
}

@media screen and (min-width: 651px)
{
	div.welcome
	{
		padding: 0px;
		margin: 0px;
		margin-bottom: 35px;
		height: 9em;
		max-width: 650px;
	}

	.welcome:before,
	.welcome:after
	{
		content: "";
		display: table;
	}

	div.welcome_head
	{
		background-color: #9ad3f0;
		font-family: 'open_sansregular';
		font-size: 1.1em;
		text-shadow: 0px 1px 1px #FFF;
		font-style: italic;
		font-weight: bold;
		color: #444444;
		padding: 6px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	div.welcome_1
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 32%;
		margin-top: 6px;
		margin-bottom: 6px;
		margin-right: 1%;
		display: block;
		float: left;
	}

	div.welcome_2
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 32%;
		margin-top: 6px;
		margin-bottom: 6px;
		display: block;
		float: left;
	}

	div.welcome_3
	{
		border: solid 1px #9ad3f0;
		border-radius: 3px;
		width: 32%;
		margin-top: 6px;
		margin-bottom: 6px;
		margin-left: 1%;
		display: block;
		float: left;
	}

	div.resources
	{
		padding: 10px;
		float: right;
		position: relative;
		width: 210px;
		background: url('../Images/grey-bkg.png') left top repeat-x #dcdcdc;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
		background: -webkit-linear-gradient(top, #fff, #dcdcdc);
		background: -moz-linear-gradient(top, #fff, #dcdcdc);
		background: -ms-linear-gradient(top, #fff, #dcdcdc);
		background: -o-linear-gradient(top, #fff, #dcdcdc);
		background: linear-gradient(top, #ffffff,#dcdcdc);
		margin-left: 10px;
		margin-bottom: 10px;
		border-left-width: 1px;
		border-right-width: 1px;
		border-top-width: 1px;
		border: solid 1px #7a5f9b;
		border-bottom: solid 1px #7a5f9b;
		border-left: solid 1px #7a5f9b;
		border-right: solid 1px #7a5f9b;
		border-top: solid 1px #7a5f9b;
		margin-top: 10px;
		padding-top: 0px;
	}
}

@media non-print
{
	*
	{
		margin: 0;
	}

	html
	{
		height: 100%;
	}

	body
	{
		height: 100%;
		font-family: 'open_sansregular', 'Arial';
		font-size: 14px;
		font-weight: normal;
		margin: 0px;
		margin-left: 15px;
		margin-right: 15px;
	}

	b
	{
		font-family: 'open_sansbold', 'Arial';
		font-weight: bold;
	}

	.wrapper
	{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -10em;
	}

	.foot,
	.push
	{
		height: 10em;
	}

	p.welcome
	{
		margin-top: 0em;
	}

	a.front
	{
		color: #005f9e;
	}

	p.front
	{
		font-weight: bold;
		font-style: italic;
		padding: 0 6px 0 6px;
	}

	a.front:hover
	{
		color: #002f5f;
		text-decoration: underline;
	}

	.footer
	{
		font-size: 0.9em;
		color: #A0D2F0;
	}

	h1
	{
		margin-top: 0px;
		margin: 0px;
		margin-bottom: 10px;
		font-weight: normal;
		font-size: 2em;
		line-height: 1.40em;
		color: #002f5f;
	}

	h2
	{
		margin: 0;
		margin-top: 10px;
		color: #0073b2;
		font-size: 19px;
		font-style: italic;
		font-weight: 600;
		line-height: 22px;
		margin-bottom: 15px;
		text-shadow: 0 1px 1px #ffffff;
	}

	h3
	{
		color: #163965;
		font-size: 17px;
		font-weight: 600;
		line-height: 23px;
		margin-bottom: 15px;
		text-shadow: 0 1px 1px #ffffff;
	}

	sub
	{
		font-size: 70%;
		line-height: 90%;
		vertical-align: text-bottom;
	}

	ul
	{
		list-style-type: none;
		margin: 0;
		max-width: 560px;
	}

	ul li
	{
		margin: 0;
		list-style: none outside none;
		list-style-image: url('../Images/blue-square.png');
		margin-bottom: 10px;
	}

	li.nb
	{
		list-style-image: none;
		list-style-type: none;
		margin-bottom: 0px;
		margin-top: 0px;
		line-height: 14px;
		padding-left: 5px;
	}

	ol li.LilSteps
	{
		mc-auto-number-format: '{n+}.\2000\2000';
		mc-auto-number-class: LSteps;
	}

	ol.LilSteps
	{
		list-style-type: none;
		margin-bottom: 5px;
	}

	li.LilSteps
	{
		font-weight: normal;
		text-indent: -34px;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.LSteps
	{
		font-family: 'open_sansbold', 'Arial';
		font-size: 18px;
		font-weight: bold;
		vertical-align: baseline;
	}

	ol li.LilSteps10Plus
	{
		mc-auto-number-format: '{n+}. ';
		mc-auto-number-class: LSteps;
	}

	ol li.BigSteps10Plus
	{
		mc-auto-number-format: 'SA:{n+} ';
		mc-auto-number-class: Steps;
	}

	li.LilSteps10Plus
	{
		font-weight: normal;
		text-indent: -33px;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	ol li.BigSteps
	{
		mc-auto-number-format: 'SA:{n+} ';
		mc-auto-number-class: Steps;
	}

	ol.BigSteps
	{
		list-style-type: none;
		margin-left: 40px;
	}

	li.BigSteps10Plus
	{
		font-family: 'open_sansbold';
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 6px;
		margin-top: 20px;
	}

	li.BigSteps
	{
		font-family: 'open_sansbold', 'Arial';
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 6px;
		margin-top: 20px;
	}

	ul.resources
	{
		margin-left: -20px;
	}

	li.resources
	{
		list-style-image: url('../Images/arrow-right.png');
	}

	.Steps
	{
		margin-left: -75px;
		font-family: 'open_sansbold', 'Arial';
		font-weight: bold;
		font-size: 36px;
		line-height: 40px;
		float: left;
		margin-top: -1px;
	}

	.right
	{
		float: right;
		margin-right: 50px;
	}

	.ml96pt
	{
		margin-left: 15px;
	}

	.ml18pt
	{
		margin-left: 5px;
	}

	.mtmb4pt
	{
		margin-top: 4px;
		margin-bottom: 4px;
	}

	h4
	{
		margin: 0;
		margin-top: 5px;
		text-shadow: 0 1px 1px #ffffff;
		color: #344b75;
		font-size: 15px;
		font-weight: 600;
		line-height: 18px;
		margin-bottom: 15px;
	}

	p.seq
	{
		margin: 0;
		font-size: 1.1em;
		font-weight: bolder;
	}

	p.h4
	{
		color: #444444;
		margin: 0;
		font-size: 1.25em;
		margin-top: 5px;
	}

	ol
	{
		margin: 0;
		max-width: 560px;
	}

	caption
	{
		line-height: 15px;
		font-size: 12px;
		text-align: left;
	}

	.note
	{
		margin: 10px;
		padding: 3pt;
		border: solid 1px #7a5f9b;
		background-color: #b5dbf3;
		margin-left: 0px;
	}

	span.monotype
	{
		font-family: monospace;
	}

	li.table
	{
		margin: 0;
	}

	div.rtmenu
	{
		margin-left: 20px;
	}

	p.resources
	{
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		text-shadow: 0 1px 1px #FFFFFF;
		margin-top: 0px;
	}

	div.foot
	{
		margin-left: -14px;
		margin-right: -11pt;
		background-color: #163965;
		border-top: solid 4px #00a9e0;
		padding: 14px 14px 0px 14px;
	}

	p.img
	{
		margin-bottom: 0px;
	}

	a.footer
	{
		color: #dddddd;
	}

	a.footer:hover
	{
		text-decoration: underline;
	}

	a.footer:link
	{
		text-decoration: none;
	}

	a.footer:visited
	{
		text-decoration: none;
	}

	li
	{
		
	}

	caption.table
	{
		mc-auto-number-format: 'GT:{b}Table {n+}';
	}

	.figure
	{
		font-style: italic;
		mc-auto-number-format: 'GF:Figure {n+}';
	}

	MadCap|xref.XreftoCaption
	{
		color: #000000;
		mc-format: 'See {paranum}';
		text-decoration: none;
	}

	p.equation
	{
		mc-auto-number-class: right;
		mc-auto-number-format: 'GE:Equation {n+}';
		margin-left: 72px;
	}

	MadCap|xref.ContextSensitive
	{
		text-decoration: none;
		color: #1175bc;
		mc-format: '{paranum}';
	}

	MadCap|xref.eqn
	{
		mc-format: '{paranum}';
		color: #1175bc;
	}

	li.BigStepsCaption
	{
		font-style: italic;
		margin-bottom: 6px;
	}

	p.courier
	{
		font-family: 'Courier New';
		font-size: 12px;
		margin-left: 36px;
	}

	span.courier
	{
		font-family: 'Courier New';
	}

	MadCap|equation.inline
	{
		vertical-align: text-top;
		font-size: 13px;
	}

	table
	{
		margin-left: auto;
		margin-right: auto;
	}

	MadCap|breadcrumbsProxy
	{
		padding-bottom: 0px;
		margin-bottom: 0px;
		border-bottom-width: 0px;
		border-bottom-style: none;
		text-align: right;
		color: #999999;
		font-family: 'open_sansbold', 'Arial';
		font-size: 12px;
		margin-top: 10px;
		mc-breadcrumbs-prefix: 'EddyPro 5 Help > ';
	}

	span.AppendixNum
	{
		display: none;
	}

	a.MCBreadcrumbsLink:hover
	{
		color: #444444;
		text-decoration: underline;
	}

	a.MCBreadcrumbsLink
	{
		text-decoration: none;
		color: #999999;
	}

	MadCap|xref
	{
		color: #000000;
	}

	MadCap|xref.TOCPageNumber
	{
		color: #1175bc;
		mc-format: '{paratext}';
	}

	MadCap|xref.ConceptPageNumber
	{
		color: #1175bc;
	}

	MadCap|equation
	{
		font-size: 15px;
	}

	span.pop
	{
		font-family: 'open_sansbold', 'Arial';
		font-weight: bold;
	}

	ol.Letters
	{
		text-indent: 0px;
		margin-left: 5px;
		list-style-type: lower-alpha;
	}

	p.equation0
	{
		mc-auto-number-class: right;
		mc-auto-number-format: 'GE:Equation {n+}';
		margin-left: 0px;
	}

	a
	{
		color: #1175bc;
		text-decoration: none;
	}

	a.references
	{
		color: #000000;
	}

	a.references:hover
	{
		color: #1175bc;
		text-decoration: underline;
	}

	a.references:link
	{
		text-decoration: none;
	}

	a.references:visited
	{
		text-decoration: none;
	}

	h5
	{
		color: #667596;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 15px;
		text-shadow: 0 1px 1px #ffffff;
	}

	p
	{
		margin-bottom: 9px;
		margin-top: 9px;
		max-width: 560px;
	}

	MadCap|popupHead
	{
		color: #038ac1;
		font-size: 70%;
	}

	img
	{
		mc-thumbnail: popup;
		mc-thumbnail-max-height: 96px;
	}

	a.front:link
	{
		text-decoration: none;
	}
}

@media print
{
	MadCap|variable
	{
		
	}

	.right
	{
		float: right;
	}

	.pgBrkBfr
	{
		page-break-before: always;
	}

	.pgBrkAft
	{
		page-break-after: always;
	}

	.ml96pt
	{
		margin-left: 96pt;
	}

	.ml18pt
	{
		margin-left: 18pt;
	}

	.noTOC
	{
		mc-heading-level: 0;
	}

	.mtmb4pt
	{
		margin-top: 4pt;
		margin-bottom: 4pt;
	}

	span.ChapNum
	{
		border-bottom-color: #000000;
		border-bottom: solid 1.5pt;
		padding-bottom: 4pt;
		width: 1in;
		font-size: 36pt;
		float: left;
		mc-auto-number-format: '{chapnum}';
	}

	span.AppendixNum
	{
		border-bottom-color: #000000;
		border-bottom: solid 1.5pt;
		padding-bottom: 4pt;
		width: 1in;
		font-size: 36pt;
		float: left;
		mc-auto-number-format: 'GH:{A+}';
	}

	span.hidden
	{
		display: none;
	}

	span.pop
	{
		font-size: 9pt;
		font-family: Arial;
		font-weight: bold;
	}

	p.Header
	{
		font-size: 10pt;
		left: 0px;
		margin-bottom: 0pt;
		margin-left: 0in;
		margin-top: 0pt;
		font-style: italic;
		font-family: 'Univers LT Std 55';
	}

	p.img
	{
		page-break-after: avoid;
		text-align: left;
		margin-bottom: 1pt;
	}

	p.TOC1
	{
		font-style: normal;
		margin: 0em;
		border-top: solid 1px #000000;
		border-bottom: solid 1pt #000000;
		font-weight: bold;
		mc-leader-format: ' ';
		font-family: 'Times New Roman';
		mc-pagenum-display: none;
		margin-bottom: 8pt;
		margin-top: 8pt;
		padding-bottom: 6pt;
		padding-top: 6pt;
		padding-left: 2pt;
		font-size: 13pt;
	}

	p.TOC2
	{
		margin: 0;
		font-weight: normal;
		margin-bottom: 0pt;
		mc-leader-format: '.';
		font-size: 10pt;
		mc-leader-align: right;
		font-family: Optima;
		mc-leader-offset: 20pt;
		padding-left: 2pt;
	}

	p.TOC3
	{
		margin: 0;
		mc-leader-format: '.';
		font-size: 10pt;
		mc-leader-align: right;
		font-family: Optima;
		mc-leader-offset: 20pt;
		margin-left: 24pt;
	}

	p.IndexHeading
	{
		margin-top: 6pt;
		margin-bottom: 3pt;
		text-align: center;
		font-family: Optima;
		font-weight: bold;
		font-size: 13pt;
	}

	p.Index1
	{
		margin-bottom: 0pt;
		text-align: left;
		margin-top: 0pt;
		mc-multiline-indent: 10pt;
	}

	p.Index2
	{
		margin-bottom: 0pt;
		text-align: left;
		margin-top: 0pt;
		margin-left: 10pt;
		mc-multiline-indent: 0in;
	}

	p.Index3
	{
		margin-bottom: 0pt;
		text-align: left;
		margin-top: 0pt;
		margin-left: 20pt;
	}

	p.h4
	{
		font-family: 'Univers LT Std 57 Cn';
		font-size: 11pt;
		margin-bottom: 0em;
		margin-top: 0.56em;
		font-weight: normal;
		mc-heading-level: 0;
		margin-left: 1in;
	}

	MadCap|tocProxy
	{
		border-top-color: #ffffff;
		border-top-style: none;
		border-top-width: 0px;
		padding-left: 0px;
		margin-left: 0in;
		margin-top: 20pt;
	}

	MadCap|indexProxy
	{
		border-top-style: none;
		border-top-width: 0px;
		border-top-color: #ffffff;
		padding-left: 0px;
		padding-top: 0px;
		mc-column-count: 2;
		margin-top: 0px;
	}

	h1.section
	{
		font-family: Optima;
		font-weight: bold;
		page-break-after: auto;
		page-break-before: always;
		border-bottom-color: #000000;
		border-bottom-style: solid;
		color: #000000;
		border-bottom-width: 1.5pt;
		border-bottom: solid 1.5pt;
		padding-bottom: 4pt;
		margin-top: 5pt;
		font-size: 28pt;
		line-height: 28pt;
		mc-auto-number-class: hidden;
		mc-auto-number-format: 'Section {chapnum}. ';
		margin-bottom: 10pt;
	}

	h1.appendix
	{
		font-family: Optima;
		font-weight: bold;
		page-break-after: auto;
		page-break-before: always;
		border-bottom-color: #000000;
		border-bottom-style: solid;
		color: #000000;
		border-bottom-width: 1.5pt;
		border-bottom: solid 1.5pt;
		padding-bottom: 4pt;
		margin-top: 5pt;
		font-size: 28pt;
		line-height: 28pt;
		mc-auto-number-class: hidden;
		mc-auto-number-format: 'GT:Appendix {A+}. ';
		margin-bottom: 10pt;
	}

	h2
	{
		mc-hyphenate: never;
		margin-left: 0pt;
		margin-right: 0pt;
		font-size: 14pt;
		font-family: 'Arial Narrow';
		font-weight: bold;
		margin-top: 10pt;
		margin-bottom: 10pt;
	}

	h3
	{
		mc-hyphenate: never;
		margin-left: 1in;
		margin-right: 0pt;
		font-family: 'Arial Narrow';
		font-size: 12pt;
		font-weight: bold;
		margin-top: 10pt;
		margin-bottom: 0;
	}

	h4
	{
		font-family: 'Univers LT Std 57 Cn';
		font-size: 11pt;
		margin-bottom: 0em;
		margin-top: 0.56em;
		mc-heading-level: 0;
		margin-left: 1in;
		font-weight: bold;
	}

	p
	{
		margin: 0px;
		margin-left: 1in;
		font-family: 'Sabon Next Com Regular';
		font-size: 9.5pt;
		margin-bottom: 5pt;
		margin-top: 7pt;
	}

	span.normal
	{
		font-weight: normal;
		font-family: 'Sabon Next Com Regular';
		font-size: 10pt;
	}

	p.PageNumbers
	{
		text-align: center;
		font-size: 11pt;
		margin-left: 0in;
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	MadCap|dropDownHotspot
	{
		font-weight: bold;
		padding-left: 36pt;
		font-size: 11pt;
		font-family: 'Sabon Next Com Regular';
	}

	sub
	{
		font-size: 70%;
		line-height: 90%;
		padding: 0;
		vertical-align: text-bottom;
	}

	th
	{
		page-break-inside: avoid;
	}

	table
	{
		margin-bottom: 5pt;
		margin-top: 8pt;
		border-spacing: 0px;
		mc-caption-repeat: true;
		mc-caption-continuation: ' (...continued)';
		margin-left: auto;
		margin-right: 0pt;
	}

	caption
	{
		font-style: italic;
		font-family: 'Sabon Next Com Regular';
		text-align: left;
	}

	MadCap|dropDownHead
	{
		margin-left: 36pt;
		font-size: 13pt;
		font-weight: bold;
		font-family: 'Sabon Next Com Regular';
	}

	h5
	{
		mc-heading-level: 0;
		font-family: 'Univers LT Std 57 Cn';
		font-size: 11pt;
		font-weight: normal;
		margin-left: 1in;
	}

	h6
	{
		mc-heading-level: 0;
		margin-left: 1in;
		margin-bottom: 0.67em;
	}

	MadCap|xref.ContextSensitive
	{
		text-decoration: none;
	}

	MadCap|xref.eqn
	{
		mc-format: 'Equation {paranum}';
	}

	td
	{
		padding-left: 2pt;
		padding-right: 2pt;
	}

	img
	{
		page-break-after: avoid;
	}

	MadCap|dropDownBody
	{
		margin-left: 12pt;
	}

	MadCap|equation
	{
		font-weight: normal;
		font-size: 11pt;
	}

	MadCap|equation.inline
	{
		mc-auto-number-class: none;
		vertical-align: text-top;
		font-size: 10pt;
	}

	MadCap|equation.inlist
	{
		margin-left: -40pt;
	}

	p.equation
	{
		mc-auto-number-class: right;
		mc-auto-number-format: 'CH:{chapnum}-{n+}';
		margin-left: 1.5in;
	}

	p.equation0
	{
		margin-left: 0;
		mc-auto-number-class: right;
		mc-auto-number-format: 'CH:{chapnum}-{n+}';
	}

	body
	{
		font-size: 10pt;
		font-family: 'Sabon Next Com Regular';
	}

	p.front
	{
		margin: 0;
		margin-bottom: 10pt;
		margin-left: 1in;
		font-size: 9pt;
	}

	MadCap|footnoteBlock
	{
		font-size: 8pt;
		text-indent: -5pt;
		margin-left: 1in;
	}

	p.Subtitle
	{
		margin: 0;
		font-family: Arial;
		font-size: 17pt;
		font-weight: bold;
		padding-bottom: 4pt;
		padding-top: 4pt;
		border-bottom: none 0pt;
		text-align: right;
		margin-left: 100pt;
		margin-bottom: 15pt;
		border-top: solid 2pt;
		margin-top: 5pt;
	}

	p.Subtitle2
	{
		margin: 0;
		margin-bottom: 2pt;
		margin-left: 100pt;
		color: #33735b;
		font-family: 'Univers LT Std 57 Cn';
		font-weight: bold;
		font-size: 20pt;
	}

	p.example
	{
		margin-left: 0pt;
		margin-top: 6pt;
		margin-bottom: 3pt;
		text-indent: 0pt;
	}

	MadCap|footnote
	{
		mc-footnote-position: page;
		mc-footnote-format: '{n}';
	}

	p.TOC4
	{
		font-size: 0pt;
		margin-left: 0pt;
	}

	p.TOC5
	{
		font-size: 0pt;
	}

	MadCap|xref.TOCPageNumber
	{
		mc-format: '{quote}{paratext}{quote} {pageref}';
	}

	img.width300pt
	{
		max-width: 300pt;
		height: auto;
	}

	img.width200pt
	{
		max-width: 200pt;
		height: auto;
	}

	img.width150pt
	{
		max-width: 150pt;
		height: auto;
	}

	img.width100pt
	{
		max-width: 100pt;
		height: auto;
	}

	.note
	{
		border: solid 1pt #000000;
		padding: 5pt;
		border-left-width: 1pt;
		border-top-width: 1pt;
		border-bottom-width: 2pt;
		border-right-width: 2pt;
		page-break-inside: avoid;
		margin-left: 72pt;
	}

	p.slogan
	{
		font-family: 'Univers LT Std 57 Cn';
		font-size: 12pt;
		margin-left: 0in;
	}

	p.CoverFooter
	{
		font-family: 'Univers LT Std 57 Cn';
		font-weight: bold;
		margin-bottom: 0pt;
		margin-left: 0in;
		margin-top: 0pt;
		color: #000000;
	}

	p.CoverDocNo
	{
		margin-bottom: 0pt;
		margin-left: 0in;
		font-family: 'Univers LT Std 57 Cn';
		font-size: 11pt;
		text-align: right;
		color: #ffffff;
		margin-top: 0pt;
	}

	MadCap|xref.ContextSensitive
	{
		mc-format: '{quote}{paratext}{quote} {pageref}';
	}

	MadCap|xref.XreftoCaption
	{
		mc-format: 'see {paranum} on page {page}';
	}

	p.Subtitle3
	{
		text-align: center;
		margin-left: 0in;
		font-weight: bold;
		font-size: 15pt;
	}

	span.size12pt
	{
		font-size: 12pt;
		text-align: center;
	}

	MadCap|xref
	{
		color: #000000;
		text-decoration: none;
	}

	a.Popup:link
	{
		color: #010101;
		text-decoration: none;
	}

	a.Popup:visited
	{
		color: #000000;
	}

	a:link
	{
		text-decoration: none;
		color: #000000;
	}

	caption.table
	{
		page-break-after: avoid;
		font-style: normal;
		mc-auto-number-format: 'CT:{b}Table {chapnum}‑{n+}';
	}

	.figure
	{
		display: block;
		margin-left: 1in;
		page-break-before: avoid;
		page-break-before: avoid;
		font-style: italic;
		mc-auto-number-format: 'CF:Figure {chapnum}‑{n+}';
		margin-top: 1pt;
		margin-bottom: 10pt;
	}

	li
	{
		
	}

	ul.bulleted
	{
		list-style: none;
		font-weight: normal;
		margin-left: 86pt;
		text-indent: -15pt;
	}

	ul.bulleted li:before
	{
		font-size: 125%;
		content: "• \2000";
		line-height: 10pt;
	}

	ul.inlist
	{
		list-style-type: none;
		text-indent: -14pt;
		margin-left: 14pt;
	}

	ol li.LilSteps
	{
		mc-auto-number-format: '{n+}.\2000\2000\2000\2000\2000';
		mc-auto-number-class: LSteps;
	}

	ol li.LilSteps10Plus
	{
		mc-auto-number-format: '{n+}.\2000\2000\2000';
		mc-auto-number-class: LSteps;
	}

	ol.LilSteps
	{
		list-style-type: none;
		margin-left: 96pt;
		margin-bottom: 4pt;
	}

	li.LilSteps
	{
		font-family: 'Sabon Next Com Regular';
		font-size: 10pt;
		font-weight: normal;
		text-indent: -25pt;
	}

	.LSteps
	{
		font-family: 'Arial Black';
		vertical-align: baseline;
	}

	li.LilSteps10Plus
	{
		font-family: 'Sabon Next Com Regular';
		font-size: 10pt;
		font-weight: normal;
		text-indent: -26pt;
	}

	ol li.BigSteps
	{
		mc-auto-number-format: 'SA:{n+}\0020\0020\0020';
		mc-auto-number-class: Steps;
	}

	ol li.BigSteps10Plus
	{
		mc-auto-number-format: 'SA:{n+}\0020';
		mc-auto-number-class: Steps;
	}

	ol.BigSteps
	{
		list-style-type: none;
		margin-left: 1in;
	}

	li.BigSteps
	{
		font-family: 'Arial Black';
		font-size: 12pt;
		line-height: 14pt;
		mc-auto-number-position: float-left;
		page-break-after: avoid;
	}

	li.BigSteps10Plus
	{
		font-family: 'Arial Black';
		font-size: 12pt;
		line-height: 14pt;
		mc-auto-number-position: float-left;
		page-break-after: avoid;
	}

	li.BigStepsDescript
	{
		margin-left: 0.85in;
		page-break-before: avoid;
		margin-top: 6pt;
		margin-bottom: 6pt;
	}

	li.BigStepsCaption
	{
		margin-left: -0.15in;
		margin-top: 1pt;
		page-break-before: avoid;
	}

	.Steps
	{
		font-family: 'Arial Black';
		font-size: 36pt;
		line-height: 30pt;
		margin-top: 5pt;
		margin-bottom: -5pt;
	}

	li.table
	{
		margin: 0;
	}

	MadCap|footnotesBlock
	{
		margin-top: 4pt;
		padding-top: 4pt;
		margin-left: 1in;
		border-top-align: right;
		border-top-length: 85%;
	}

	MadCap|xref.ContextSensitive
	{
		mc-format: '{paranum} {pageref}';
	}

	MadCap|listOfProxy
	{
		padding-left: 0px;
	}

	p.ListOf
	{
		margin-left: 0in;
		margin-bottom: 2pt;
		margin-top: 2pt;
		mc-leader-offset: 20pt;
	}

	tr
	{
		page-break-inside: avoid;
	}

	MadCap|xref.TOCPageNumber
	{
		mc-format: '{quote}{paratext}{quote} {pageref}';
	}

	img.width075pt
	{
		max-width: 75pt;
		height: auto;
	}

	span.SeeIndex
	{
		font-weight: bold;
	}

	span.SeeAlsoIndex
	{
		font-weight: bold;
	}

	span.SeeAlsoIndexTerms
	{
		
	}

	span.SeeIndexTerms
	{
		
	}

	p.courier
	{
		font-family: 'Courier New';
		font-size: 9pt;
		margin-left: 1.25in;
	}

	span.courier
	{
		font-family: 'Courier New';
		font-size: 9pt;
	}

	p.specs
	{
		margin-left: 0in;
		margin-bottom: 0pt;
		margin-top: 0pt;
	}

	img.width350pt
	{
		height: auto;
		max-width: 340pt;
	}

	img.width400pt
	{
		height: auto;
		max-width: 400pt;
	}

	img.width450pt
	{
		max-width: 450pt;
		height: auto;
	}

	img.width500pt
	{
		height: auto;
		max-width: 500pt;
	}

	img.width250pt
	{
		max-width: 250pt;
		height: auto;
	}

	h1
	{
		margin-top: 0em;
		page-break-before: avoid;
	}

	img.width020pt
	{
		height: auto;
		max-width: 20pt;
	}

	img.width040pt
	{
		width: 40pt;
		max-height: auto;
		height: auto;
	}

	img.width060pt
	{
		height: auto;
		max-width: 60pt;
	}

	img.width080pt
	{
		max-width: 80pt;
		height: auto;
	}

	img.width125pt
	{
		max-width: 125pt;
		height: auto;
	}

	ol.Letters
	{
		margin: 0px;
		list-style-type: lower-alpha;
		margin-left: 16pt;
	}

	ol
	{
		text-indent: 0pt;
		margin: 0;
	}

	li.parts
	{
		margin-top: 2pt;
		margin-bottom: 2pt;
	}

	a
	{
		text-decoration: none;
	}

	a.references:visited
	{
		text-decoration: none;
	}

	MadCap|glossaryProxy
	{
		border-top-style: none;
	}

	div.GlossaryPageDefinition
	{
		font-size: 10pt;
	}

	div.GlossaryPageTerm
	{
		font-size: 10pt;
	}

	div.GlossaryPageHeading
	{
		font-size: 10pt;
	}

	div.GlossaryPageEntry
	{
		font-size: 10pt;
	}
}

*
{
	margin: 0;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	font-family: 'open_sansregular', 'Arial';
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

b
{
	font-family: 'open_sansbold', 'Arial';
	font-weight: bold;
}

.wrapper
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -10em;
}

.foot,
.push
{
	height: 10em;
}

p.welcome
{
	margin-top: 0em;
}

a.front
{
	color: #005f9e;
}

p.front
{
	font-weight: bold;
	font-style: italic;
	padding: 0 6px 0 6px;
}

a.front:link
{
	text-decoration: none;
}

a.front:hover
{
	color: #002f5f;
	text-decoration: underline;
}

.footer
{
	font-size: 0.9em;
	color: #A0D2F0;
}

h1
{
	margin-top: 0px;
	margin: 0px;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 2em;
	line-height: 1.40em;
	color: #002f5f;
}

h2
{
	margin: 0;
	margin-top: 10px;
	color: #0073b2;
	font-size: 19px;
	font-style: italic;
	font-weight: 600;
	line-height: 22px;
	margin-bottom: 15px;
	text-shadow: 0 1px 1px #ffffff;
}

h3
{
	color: #163965;
	font-size: 17px;
	font-weight: 600;
	line-height: 23px;
	margin-bottom: 15px;
	text-shadow: 0 1px 1px #ffffff;
}

sub
{
	font-size: 70%;
	line-height: 90%;
	vertical-align: text-bottom;
}

ul
{
	list-style-type: none;
	margin: 0;
	max-width: 560px;
}

ul li
{
	margin: 0;
	list-style: none outside none;
	list-style-image: url('../Images/blue-square.png');
	margin-bottom: 10px;
}

li.nb
{
	list-style-image: none;
	list-style-type: none;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 14px;
	padding-left: 5px;
}

ol li.LilSteps
{
	mc-auto-number-format: '{n+}.\2000\2000';
	mc-auto-number-class: LSteps;
}

ol.LilSteps
{
	list-style-type: none;
	margin-bottom: 5px;
}

li.LilSteps
{
	font-weight: normal;
	text-indent: -34px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.LSteps
{
	font-family: 'open_sansbold', 'Arial';
	font-size: 18px;
	font-weight: bold;
	vertical-align: baseline;
}

ol li.LilSteps10Plus
{
	mc-auto-number-format: '{n+}. ';
	mc-auto-number-class: LSteps;
}

ol li.BigSteps10Plus
{
	mc-auto-number-format: 'SA:{n+} ';
	mc-auto-number-class: Steps;
}

li.LilSteps10Plus
{
	font-weight: normal;
	text-indent: -33px;
	margin-top: 8px;
	margin-bottom: 8px;
}

ol li.BigSteps
{
	mc-auto-number-format: 'SA:{n+} ';
	mc-auto-number-class: Steps;
}

ol.BigSteps
{
	list-style-type: none;
	margin-left: 40px;
}

li.BigSteps10Plus
{
	font-family: 'open_sansbold';
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 6px;
	margin-top: 20px;
}

li.BigSteps
{
	font-family: 'open_sansbold', 'Arial';
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 6px;
	margin-top: 20px;
}

ul.resources
{
	margin-left: -20px;
}

li.resources
{
	list-style-image: url('../Images/arrow-right.png');
}

.Steps
{
	margin-left: -75px;
	font-family: 'open_sansbold', 'Arial';
	font-weight: bold;
	font-size: 36px;
	line-height: 40px;
	float: left;
	margin-top: -1px;
}

.right
{
	float: right;
	margin-right: 50px;
}

.ml96pt
{
	margin-left: 15px;
}

.ml18pt
{
	margin-left: 5px;
}

.mtmb4pt
{
	margin-top: 4px;
	margin-bottom: 4px;
}

h4
{
	margin: 0;
	margin-top: 5px;
	text-shadow: 0 1px 1px #ffffff;
	color: #344b75;
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	margin-bottom: 15px;
}

p.seq
{
	margin: 0;
	font-size: 1.1em;
	font-weight: bolder;
}

p.h4
{
	color: #444444;
	margin: 0;
	font-size: 1.25em;
	margin-top: 5px;
}

ol
{
	margin: 0;
	max-width: 560px;
}

caption
{
	line-height: 15px;
	font-size: 12px;
	text-align: left;
}

.note
{
	margin: 10px;
	padding: 3pt;
	border: solid 1px #7a5f9b;
	background-color: #b5dbf3;
	margin-left: 0px;
}

span.monotype
{
	font-family: monospace;
}

li.table
{
	margin: 0;
}

div.rtmenu
{
	margin-left: 20px;
}

p.resources
{
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-shadow: 0 1px 1px #FFFFFF;
	margin-top: 0px;
}

div.foot
{
	margin-left: -14px;
	margin-right: -11pt;
	background-color: #163965;
	border-top: solid 4px #00a9e0;
	padding: 14px 14px 0px 14px;
}

p.img
{
	margin-bottom: 0px;
}

a.footer
{
	color: #dddddd;
}

a.footer:link
{
	text-decoration: none;
}

a.footer:visited
{
	text-decoration: none;
}

a.footer:hover
{
	text-decoration: underline;
}

li
{
	
}

caption.table
{
	mc-auto-number-format: 'GT:{b}Table {n+}';
}

.figure
{
	font-style: italic;
	mc-auto-number-format: 'GF:Figure {n+}';
}

MadCap|xref.XreftoCaption
{
	color: #000000;
	mc-format: 'See {paranum}';
	text-decoration: none;
}

p.equation
{
	mc-auto-number-class: right;
	mc-auto-number-format: 'GE:Equation {n+}';
	margin-left: 72px;
}

MadCap|xref.ContextSensitive
{
	text-decoration: none;
	color: #1175bc;
	mc-format: '{paranum}';
}

MadCap|xref.eqn
{
	mc-format: '{paranum}';
	color: #1175bc;
}

li.BigStepsCaption
{
	font-style: italic;
	margin-bottom: 6px;
}

p.courier
{
	font-family: 'Courier New';
	font-size: 12px;
	margin-left: 36px;
}

span.courier
{
	font-family: 'Courier New';
}

MadCap|equation.inline
{
	vertical-align: text-top;
	font-size: 13px;
}

table
{
	margin-left: auto;
	margin-right: auto;
}

MadCap|breadcrumbsProxy
{
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-style: none;
	text-align: right;
	color: #999999;
	font-family: 'open_sansbold', 'Arial';
	font-size: 12px;
	margin-top: 10px;
	mc-breadcrumbs-prefix: 'EddyPro 5 Help > ';
}

span.AppendixNum
{
	display: none;
}

a.MCBreadcrumbsLink:hover
{
	color: #444444;
	text-decoration: underline;
}

a.MCBreadcrumbsLink
{
	text-decoration: none;
	color: #999999;
}

MadCap|xref
{
	color: #000000;
}

MadCap|xref.TOCPageNumber
{
	color: #1175bc;
	mc-format: '{paratext}';
}

MadCap|xref.ConceptPageNumber
{
	color: #1175bc;
}

MadCap|equation
{
	font-size: 15px;
}

span.pop
{
	font-family: 'open_sansbold', 'Arial';
	font-weight: bold;
}

ol.Letters
{
	text-indent: 0px;
	margin-left: 5px;
	list-style-type: lower-alpha;
}

p.equation0
{
	mc-auto-number-class: right;
	mc-auto-number-format: 'GE:Equation {n+}';
	margin-left: 0px;
}

a
{
	color: #1175bc;
	text-decoration: none;
}

a.references
{
	color: #000000;
}

a.references:link
{
	text-decoration: none;
}

a.references:visited
{
	text-decoration: none;
}

a.references:hover
{
	color: #1175bc;
	text-decoration: underline;
}

h5
{
	color: #667596;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
	text-shadow: 0 1px 1px #ffffff;
}

p
{
	margin-bottom: 9px;
	margin-top: 9px;
	max-width: 560px;
}

MadCap|popupHead
{
	color: #038ac1;
	font-size: 70%;
}

img
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 96px;
}

