/*<meta />*/

/* Prevents Safari in landscape orientation from zooming in on text*/

body
{
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* Css to prevent Chrome's automatic border around active fields*/

*:focus
{
	outline: none;
}

/* Default css class for hiding element*/

.hidden
{
	display: none;
}

/* Topic Popup */

.MCTopicPopup
{
	text-decoration: none;
}

.MCTopicPopupHotSpot
{
	cursor: pointer;
	background-position: left center;
	background-repeat: no-repeat;
}

.MCTopicPopup_Open.MCTopicPopupHotSpot
{
	
}

.MCTopicPopup_Closed.MCTopicPopupHotSpot
{
	
}

.MCTopicPopupContainer
{
	background-color: #FFFFFF;
	padding: 10px;
	position: fixed;
	top: 100px;
	left: 100px;
	right: 100px;
	bottom: 100px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
	filter: alpha( opacity = 0 );
	opacity: 0.0;
	z-index: 10001;
}

.MCTopicPopupBody
{
	width: 100%;
	border: none;
}

/**/
/* Thumbnail Popup */

.MCPopupThumbnailLink
{
	
}

.MCPopupThumbnail
{
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.MCPopupContainer
{
	background-color: #FFFFFF;
	border: solid 1px #000000;
	padding: 10px;
	position: absolute;
	cursor: pointer;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 10001;
}

.MCPopupContainer2
{
	background-color: #FFFFFF;
	border: solid 1px #000000;
	padding: 10px;
	position: absolute;
	cursor: pointer;
	-moz-box-shadow: 2px 2px 8px #FFFFFF;
	-webkit-box-shadow: 2px 2px 8px #FFFFFF;
	box-shadow: 2px 2px 8px #FFFFFF;
}

.MCPopupFullImage
{
	width: 0px;
	height: 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/**/
/* HelpControl */

.MCHelpControl_Image_Icon
{
	border: none;
}

.MCHelpControl span
{
	background: url("Images/help-control.png") no-repeat left center;
	padding-left: 18px;
}

a.MCHelpControl
{
	cursor: pointer;
	text-decoration: none;
}

/**/
/* Dialog */

.MCDialog
{
	display: none;
	width: 400px;
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 6px;
	background-color: #000000;
	border: 1px solid #000000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	filter: alpha( opacity = 0 );
	opacity: 0.0;
	z-index: 10001;
}

.MCDialogHeader
{
	margin: 0 0 4px;
	padding: 5px 0 5px 5px;
	color: #FFFFFF;
	font-size: 15px;
	font-family: Helvetica;
}

.MCDialogClose
{
	color: #FFFFFF;
	font-family: tahoma, sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 12px;
	text-align: center;
	text-decoration: none;
	float: right;
	width: 20px;
	height: 18px;
	padding-top: 2px;
	margin-top: -2px;
	background-color: #999999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.MCDialogBody
{
	color: #555555;
	padding: 10px;
	background-color: #FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/**/

a.glossaryTerm
{
	text-decoration: none;
}

/**/

#ios-wrapper
{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.img_off
{
	display: none;
}

div.MCBreadcrumbsBox_0
{
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-bottom-color: black;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-align: right;
	color: #999999;
	font-family: 'open_sansbold', 'Arial';
	font-size: 12px;
	margin-top: 10px;
}

.popupHead
{
	color: #038ac1;
	font-size: 70%;
}

.popupHead:link
{
	color: #038ac1;
	font-size: 70%;
}

.popupBody
{
	color: #000000;
	background-color: #dcdcdc;
	border: solid 1px #000000;
	margin: 0px;
	padding: 5px;
}

.xref
{
	color: #000000;
	text-decoration: underline;
}

.xref.xrefTOCPageNumber
{
	color: #1175bc;
	text-decoration: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-size: inherit;
}

.xref.xrefContextSensitive
{
	text-decoration: none;
	color: #1175bc;
}

.mcReset
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

img.MCEquation_inline_0
{
	font-size: 13px;
	vertical-align: text-top;
}

img.MCEquation_0
{
	font-size: 15px;
}

.MCWebHelpFramesetLink a
{
	color: #444444;
}

.MCWebHelpFramesetLink.MCWebHelpFramesetLinkTop a
{
	
}

.MCWebHelpFramesetLink.MCWebHelpFramesetLinkBottom a
{
	
}

